body {
    background-color:black;
    font-family: "Arial", Times, serif;
    padding:0;
    margin: 0;
    display: flex;
    text-align: center;
    height:100vh;
    flex-direction:column;
}


h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#posts {
    background-color:black;
    color:white;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-bottom:32px;
    flex:1
}

#posts_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas com larguras iguais */
    gap: 20px; /* Define o espaçamento entre as colunas */
    justify-content: center; /* Centraliza os projetos na grade */
}

#posts_list a {
    background-color:white;
    color: black;
    text-decoration: none;
    cursor: pointer
}

.post {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    padding: 24px;
    margin:24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width:400px;
    border-radius:8px;
}

.post h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor:inherit
}

.post p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    cursor:inherit
}


@media (min-width: 768px) and (max-width: 1000px) {
        #posts_list {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 768px) {
    #posts_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .post {
        max-width: 300px;
    }
}
