footer {
    background-color:white;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    max-height: 2rem;
    padding:32px;
    border-top: 1px solid black;
/*    margin-top:32px;*/
}

footer a{
    text-decoration:none;
    margin:8px;
}

footer p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

@media (max-width: 768px) {
    footer img{
        max-height: 24px;
    }

    footer p{
        font-size:10px
    }
}
